header, footer {
  position: fixed;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 1; }

main#page_root::before {
  content: '';
  z-index: 1;
  height: 3.5rem;
  width: 100%;
  background: #1C1922;
  position: fixed;
  top: 0;
  left: 0; }

header {
  top: 0;
  z-index: 10;
  transition: transform 200ms ease-in-out; }
  @media (max-width: 48em) {
    header {
      height: 3.5rem; } }

header span {
  display: block;
  position: absolute;
  top: 0.8rem;
  width: 100%;
  height: 100%; }
  header span a {
    color: #1C1922; }
  header span:first-of-type {
    left: -35%; }
  header span:last-of-type {
    left: 35%;
    text-align: right; }
  header span:hover a {
    color: #3BBA7D; }

footer {
  bottom: 0;
  background: #1C1922; }

nav {
  height: 100%; }
  nav ul {
    padding: 0 2rem;
    height: 100%;
    align-content: center; }
  nav li.active {
    font-weight: bold; }
  nav li {
    margin: 0.2rem 1rem;
    font-size: 0.9rem; }
  @media (max-width: 48em) {
    nav ul {
      padding: 0 1rem; }
    nav li {
      margin: 0 2rem 0 0; } }

header nav ul {
  padding: 0 2rem;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

header nav li {
  text-align: center;
  font-size: 1rem; }

header nav li:first-of-type {
  text-align: left; }

header nav li:last-of-type {
  text-align: right; }

@media (max-width: 48em) {
  header nav ul {
    padding: 0 1rem;
    grid-template-columns: repeat(2, 1fr); }
  header nav li {
    text-align: left;
    margin: 0; }
  header nav #create {
    display: none; } }

footer nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

footer nav li.back {
  cursor: pointer; }

footer .enable-gi {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #527D6F; }

footer .enable-gi.active {
  background-color: #3BBA7D;
  box-shadow: 0 0 7px 1px #527d6f; }

header[data-index='-1'] {
  transform: translateX(42%); }

header[data-index='0'] {
  transform: translateX(0); }

header[data-index='1'] {
  transform: translateX(-42%); }

body, textarea, input, button {
  font-family: 'Fira Mono', monospace; }

h1 {
  font-size: 1.7rem;
  margin: 1rem 0 1.5rem 0;
  font-weight: normal; }
  @media (max-width: 48em) {
    h1 {
      font-size: 1.6rem; } }

h2 {
  font-size: 1.5rem;
  margin: 0.4rem 0; }

h3 {
  font-size: 1.3rem;
  margin: 0.3rem 0; }

p {
  font-size: 1.05rem;
  margin: 0.2rem 0;
  line-height: 1.5rem; }
  @media (max-width: 48em) {
    p {
      font-size: 1.05rem;
      line-height: 1.4rem; } }

a {
  color: #527D6F;
  text-decoration: none;
  padding: 0.1rem 0.2rem; }
  a:hover, a.exact-link {
    background: rgba(82, 125, 111, 0.3);
    color: #3BBA7D; }

li {
  list-style: none; }

button {
  background-color: rgba(82, 125, 111, 0.3);
  color: #3BBA7D;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border: 2px solid transparent;
  cursor: pointer; }
  button:hover, button.active {
    border: 2px solid #527D6F; }
  button.disabled {
    color: #527D6F;
    background-color: rgba(82, 125, 111, 0.1);
    pointer-events: none; }

.route--back {
  cursor: pointer; }

a.disabled {
  text-decoration: line-through;
  pointer-events: none; }

::-moz-selection {
  color: #262431;
  background: #527D6F; }

::selection {
  color: #262431;
  background: #527D6F; }

input {
  background: transparent;
  border: none;
  color: #3BBA7D;
  border-bottom: 2px solid #527D6F;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0.6rem 0;
  cursor: pointer; }
  input::placeholder {
    color: #527D6F; }
  input:focus {
    border-bottom: 2px solid #3BBA7D;
    outline: none; }

.expand-info {
  background-color: rgba(82, 125, 111, 0.3);
  color: #3BBA7D;
  font-size: 1.1rem;
  cursor: pointer; }
  .expand-info:hover::after {
    content: attr(data-info); }

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

section.home > * {
  position: absolute;
  left: 10%;
  max-width: 40rem;
  font-weight: normal; }

section.home h1 {
  top: 0; }

section.home h5 {
  left: 5%;
  top: 5rem; }

section.home h3 {
  top: 20rem;
  left: 55%;
  max-width: 35%; }

section.home a:first-of-type {
  top: 7rem;
  left: 60%; }

section.home a:last-of-type {
  top: 15rem;
  left: 20%; }

section.machine-learning .ct-ml {
  padding: 3rem 0; }

section.machine-learning .ct-fixed {
  position: sticky;
  top: 2.8rem;
  z-index: 10; }
  section.machine-learning .ct-fixed .progress-bar {
    height: 2px;
    width: 0;
    position: absolute;
    top: -1px;
    left: 0;
    background: #527D6F; }
  section.machine-learning .ct-fixed .expand-info {
    background-color: #2D373A; }

section.machine-learning .ct-content {
  padding: 0 3rem; }

section.machine-learning .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5rem 0 3rem 0;
  grid-gap: 2rem; }

section.machine-learning h1 {
  font-weight: normal;
  margin: 0 0 2.3rem 0; }
  section.machine-learning h1::before {
    content: '-';
    position: absolute;
    margin-left: -3.4rem; }

section.machine-learning p {
  margin: 1rem 0; }

section.machine-learning button {
  margin-bottom: 1rem; }

section.machine-learning .randomised {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

@media (max-width: 48em) {
  section.machine-learning .content {
    display: block; } }

section.machine-learning .btn-gen-btn-text {
  margin: 0 0.5rem 0.5rem 0; }

section.buzzwords {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  section.buzzwords article {
    margin: 1rem;
    max-width: 40rem; }
  section.buzzwords h4, section.buzzwords h5 {
    font-weight: normal; }
  section.buzzwords h4 {
    font-size: 0.9rem; }
  section.buzzwords h5 {
    font-size: 0.8rem; }
  section.buzzwords p {
    font-size: 0.8rem; }
  section.buzzwords .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
  section.buzzwords .ct-buzz {
    padding: 1rem;
    background: rgba(82, 125, 111, 0.45); }
    section.buzzwords .ct-buzz.no-comp {
      background: transparent; }
    section.buzzwords .ct-buzz > h4 {
      text-align: center; }
  section.buzzwords .component {
    padding: 0.7rem 1rem;
    background: rgba(82, 125, 111, 0.35);
    margin: 1rem;
    min-width: 17rem;
    cursor: pointer; }
    section.buzzwords .component > .component {
      margin: 1rem 0;
      padding: 0.5rem;
      min-width: 10rem; }
    section.buzzwords .component.no-mw {
      min-width: unset; }
  section.buzzwords .ct-hover {
    padding: 0.7rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(28, 25, 34, 0.82);
    min-width: 7rem;
    max-width: 25rem;
    transform: translateX(-50%);
    width: auto; }
    section.buzzwords .ct-hover > * {
      font-size: 0.9rem; }

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  cursor: crosshair; }
  html::-webkit-scrollbar {
    width: 5px;
    height: 5px; }
  html::-webkit-scrollbar-thumb {
    background: #527D6F; }
  html::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); }
  html {
    scrollbar-face-color: #527D6F;
    scrollbar-track-color: rgba(0, 0, 0, 0); }
  html {
    scrollbar-color: #527D6F rgba(0, 0, 0, 0);
    scrollbar-width: thin; }

body {
  color: #3BBA7D;
  background: #1C1922; }

main#page_root {
  padding: 4rem 0 2rem 0; }

article.container {
  max-width: 30rem; }

.invisible {
  display: none; }
