@import url("https://use.typekit.net/vzp0hqq.css");
header, footer {
  position: fixed;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 1; }

main#page_root:not(.no-before)::before {
  content: '';
  z-index: 1;
  height: 3rem;
  width: 100%;
  background: #17131f;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background: #17131f5e; }
  @media (max-width: 48em) {
    main#page_root:not(.no-before)::before {
      background: transparent;
      backdrop-filter: none; } }

header {
  top: 0;
  z-index: 10;
  transition: transform 200ms ease-in-out; }

header span {
  display: block;
  position: absolute;
  top: 0.8rem;
  width: 100%;
  height: 100%; }
  header span a {
    color: #17131f; }
  header span:first-of-type {
    left: -35%; }
  header span:last-of-type {
    left: 35%;
    text-align: right; }
  header span:hover a {
    color: #3BBA7D; }

footer {
  bottom: -1px;
  background: #17131f;
  z-index: 13; }
  footer nav {
    display: flex; }

nav {
  height: 100%; }
  nav ul {
    padding: 0 2rem;
    height: 100%;
    align-content: center; }
  nav li.active {
    font-weight: bold; }
  nav li {
    margin: 0.2rem 1rem;
    font-size: 0.9rem; }
  @media (max-width: 48em) {
    nav ul {
      padding: 0 1rem; }
    nav li {
      margin: 0 2rem 0 0; } }

header nav ul {
  padding: 0 2rem;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

header nav li {
  text-align: center;
  font-size: 1rem; }

header nav li:first-of-type {
  text-align: left; }

header nav li:last-of-type {
  text-align: right; }

@media (max-width: 48em) {
  header nav {
    display: none; } }

footer nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

footer nav li.back {
  cursor: pointer; }

footer {
  background-color: #17131f;
  border-top: 1.5px solid #527D6F; }
  footer .gi-not-active {
    font-size: 0.7rem;
    align-self: center;
    opacity: 0.6;
    justify-content: flex-end;
    margin-left: 5rem;
    justify-self: flex-end;
    text-align: right; }
    @media (max-width: 48em) {
      footer .gi-not-active {
        display: none; } }
  footer .enable-gi {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #527D6F; }
    footer .enable-gi::before {
      content: '';
      position: absolute;
      font-size: 0.7rem;
      top: -2px;
      text-align: center;
      left: -12.3rem; }
    footer .enable-gi:hover::before {
      content: 'Gestenerkennung aktivieren'; }
    @media (max-width: 48em) {
      footer .enable-gi {
        display: none; } }
  footer .enable-gi.active {
    background-color: #3BBA7D;
    box-shadow: 0 0 7px 1px #527d6f; }
    footer .enable-gi.active:hover::before {
      content: 'Gestenerkennung deaktivieren'; }
  footer .mobile-link {
    position: absolute;
    bottom: 0.9rem;
    right: 1rem;
    display: none;
    font-size: 0.9rem; }
    @media (max-width: 48em) {
      footer .mobile-link {
        display: block; } }

@media (min-width: 48em) {
  header[data-index='-1'] {
    transform: translateX(42%); }
  header[data-index='0'] {
    transform: translateX(0); }
  header[data-index='1'] {
    transform: translateX(-42%); } }

body, textarea, input, button {
  font-family: droid-sans-mono, monospace; }

.machine-learning .col-1 > * {
  font-family: droid-sans-mono, 'Helvetica', 'Arial', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 2rem;
  margin: 1rem 0 1.5rem 0;
  font-weight: normal; }
  @media (max-width: 48em) {
    h1 {
      font-size: 1.6rem; } }

h2 {
  font-size: 1.5rem;
  margin: 0.4rem 0; }

h3 {
  font-size: 1.3rem;
  margin: 0.3rem 0; }

p {
  font-size: 1.0rem;
  margin: 0.2rem 0;
  line-height: 1.4rem; }
  @media (max-width: 48em) {
    p {
      font-size: 1.05rem;
      line-height: 1.4rem; } }

input, textarea, button, select, a, .gclick, .panel-header {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05) !important; }

a {
  color: #3BBA7D;
  text-decoration: none;
  padding: 0.1rem 0.2rem; }
  a:hover, a.exact-link {
    background: rgba(82, 125, 111, 0.3);
    color: #3BBA7D; }

li {
  list-style: none; }

button {
  background-color: rgba(82, 125, 111, 0.3);
  color: #3BBA7D;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border: 2px solid transparent;
  cursor: pointer; }
  button:hover, button.active {
    border: 2px solid #527D6F; }
  button.disabled {
    color: #527D6F;
    background-color: rgba(82, 125, 111, 0.1);
    pointer-events: none; }

strong {
  font-weight: normal;
  background-color: rgba(82, 125, 111, 0.3);
  color: #3BBA7D; }

.route--back {
  cursor: pointer; }

a.disabled {
  text-decoration: line-through;
  pointer-events: none; }

::-moz-selection {
  color: #262431;
  background: #527D6F; }

::selection {
  color: #262431;
  background: #527D6F; }

input {
  background: transparent;
  border: none;
  color: #3BBA7D;
  border-bottom: 2px solid #527D6F;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0.6rem 0;
  cursor: pointer; }
  input::placeholder {
    color: #527D6F; }
  input:focus {
    border-bottom: 2px solid #3BBA7D;
    outline: none; }

.expand-info {
  background-color: rgba(82, 125, 111, 0.3);
  color: #3BBA7D;
  font-size: 1.1rem;
  cursor: pointer; }
  .expand-info:hover::after {
    content: attr(data-info); }

.pe-none {
  pointer-events: none; }

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  transition: opacity 200ms; }
  canvas.hidden {
    opacity: 0; }

div#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: visible;
  background: rgba(23, 19, 31, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem; }
  div#loader > span {
    width: 1rem;
    height: 1rem;
    align-self: center;
    background: #3BBA7D;
    border-radius: 50%;
    animation: pulse 1.7s infinite ease-in-out; }
  div#loader p {
    text-align: center;
    color: #3BBA7D; }
  div#loader.invisible {
    display: none; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 1rem 0 rgba(255, 0, 0, 0); }
  50% {
    box-shadow: 0 0 4rem 1rem #3bba7d; }
  100% {
    box-shadow: 0 0 1rem 0 rgba(255, 0, 0, 0); } }

section.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  section.page-404 div {
    width: 16ch;
    font-size: 4rem; }
    @media (max-width: 48em) {
      section.page-404 div {
        width: 16ch;
        font-size: 2rem;
        max-width: 80%; } }
  section.page-404 span {
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0; }
  section.page-404 span:nth-child(1) {
    transform: translate(-5px, -5px); }
  section.page-404 span:nth-child(2) {
    transform: translate(5px, 5px); }
  section.page-404 span:nth-child(3) {
    opacity: 0.6; }

section.home {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, minmax(6rem, auto));
  grid-row-gap: 1rem; }
  @media (min-width: 88em) {
    section.home {
      padding: 0 4rem; } }
  @media (max-width: 88em) {
    section.home {
      padding: 0 3rem; } }
  @media (max-width: 62em) {
    section.home {
      padding: 0 2rem; } }
  @media (max-width: 48em) {
    section.home {
      padding: 0 1rem; } }
  section.home h1, section.home h3, section.home h5 {
    pointer-events: none; }
  section.home h3, section.home h5, section.home h1, section.home .title-mobile {
    color: #527D6F; }
  section.home h5 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: end;
    align-self: end; }
  section.home .title, section.home .title-mobile {
    grid-area: 2 / 2 / 3 / 4;
    font-size: 2.4rem;
    justify-self: center; }
  section.home .sub-title {
    grid-area: 4 / 3 / 4 / 5; }
  section.home a {
    width: fit-content;
    height: fit-content; }
  section.home a:first-of-type {
    grid-area: 1 / 3 / 2 / 5;
    align-self: end; }
  section.home a:last-of-type {
    grid-area: 3 / 1 / 4 / 3;
    justify-self: center; }
  section.home a.a-title-mobile {
    display: none; }
  @media (max-width: 48em) {
    section.home a.a-title-mobile {
      display: block;
      grid-area: 2 / 1 / 4 / 5;
      width: fit-content;
      height: fit-content; }
      section.home a.a-title-mobile h1 {
        color: #3BBA7D; }
    section.home .title, section.home a {
      display: none; }
    section.home .sub-title {
      grid-area: 4 / 2 / 4 / 5; } }

section.project {
  margin: 10rem 0 5rem 0; }
  @media (min-width: 88em) {
    section.project {
      padding: 0 4rem; } }
  @media (max-width: 88em) {
    section.project {
      padding: 0 3rem; } }
  @media (max-width: 62em) {
    section.project {
      padding: 0 2rem; } }
  @media (max-width: 48em) {
    section.project {
      padding: 0 1rem; } }
  section.project > article {
    margin: 4rem 0;
    max-width: 30rem; }
  section.project > article:nth-child(2n) {
    margin-left: 5rem; }

section.machine-learning .ct-ml {
  padding: 3rem 0; }
  section.machine-learning .ct-ml:first-of-type {
    padding: 0 0 3rem 0; }

section.machine-learning .ct-fixed {
  max-width: 80rem;
  margin: 0 auto;
  position: sticky;
  top: 3.3rem;
  z-index: 8; }
  section.machine-learning .ct-fixed .expand-info {
    font-size: 0.9rem;
    opacity: 0.5;
    background: transparent; }
  @media (max-width: 48em) {
    section.machine-learning .ct-fixed {
      top: -2px;
      padding-left: 1rem; } }
  section.machine-learning .ct-fixed .expand-info {
    padding: 2px 0;
    font-size: 1rem; }

section.machine-learning .ct-content {
  padding: 0 3rem;
  max-width: 86rem;
  margin: 0 auto; }
  section.machine-learning .ct-content .col-2 {
    font-size: 0.9rem; }
  @media (max-width: 62em) {
    section.machine-learning .ct-content {
      padding: 0 2.2rem; } }
  @media (max-width: 48em) {
    section.machine-learning .ct-content {
      padding: 0 1.7rem; } }

section.machine-learning .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 7rem 0 4rem 0;
  grid-column-gap: 2rem; }
  @media (min-width: 62em) {
    section.machine-learning .content {
      grid-column-gap: 4rem; } }
  @media (min-width: 76em) {
    section.machine-learning .content {
      grid-column-gap: 5rem; } }

section.machine-learning h1 {
  font-weight: normal;
  margin: 0 0 2.3rem 0; }
  section.machine-learning h1::before {
    content: '-';
    position: absolute;
    margin-left: -3.4rem; }

section.machine-learning p {
  margin: 1rem 0; }

section.machine-learning button {
  margin-bottom: 1rem;
  text-align: left; }

section.machine-learning .randomised {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 1rem;
  align-content: center;
  justify-content: space-around;
  height: 100%; }

section.machine-learning .collection--image {
  max-width: 25rem; }

section.machine-learning .btn-gen-btn-text {
  margin: 0 0.5rem 0.5rem 0; }

section.machine-learning .col-sources {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 96%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding-right: 1rem;
  border-right: 1px solid transparent;
  margin: 2rem 0 1rem 0; }
  section.machine-learning .col-sources.border {
    border-right: 1px solid #3BBA7D; }
  section.machine-learning .col-sources .title {
    cursor: pointer;
    color: #527D6F;
    text-align: right;
    align-self: flex-end;
    width: fit-content; }
    section.machine-learning .col-sources .title:hover {
      color: #3BBA7D; }
  section.machine-learning .col-sources .sources {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 1;
    transition: opacity 200ms; }
    section.machine-learning .col-sources .sources .external-link-icon {
      display: inline-block;
      height: 1rem;
      margin-right: 0.7rem; }
    section.machine-learning .col-sources .sources .external-link-icon img {
      transform: rotate(-45deg);
      height: 100%; }
    section.machine-learning .col-sources .sources a {
      align-self: flex-end;
      width: fit-content;
      text-align: right; }
  section.machine-learning .col-sources .sources.hidden {
    opacity: 0;
    pointer-events: none; }

@media (max-width: 48em) {
  section.machine-learning .content {
    display: block; } }

.panel {
  background: rgba(82, 125, 111, 0.2);
  font-size: 0.9rem; }
  .panel .panel-header {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly; }
  .panel .panel-header > div {
    color: #527D6F;
    transition: color 150ms;
    padding: 0.5rem;
    width: 100%;
    border-left: 1px solid #527D6F;
    background: rgba(82, 125, 111, 0.2); }
    .panel .panel-header > div.active {
      background: rgba(82, 125, 111, 0);
      border-top: 1px solid #3BBA7D;
      border-left: 1px solid #527D6F;
      color: #3BBA7D; }
    @media (max-width: 48em) {
      .panel .panel-header > div {
        word-break: break-word; } }
  .panel .panel-body {
    margin-top: 0.2rem;
    padding: 0.5rem; }
  .panel .panel-image {
    padding: 1rem; }
    .panel .panel-image svg {
      max-width: 35rem; }

.btn-svg {
  display: block;
  margin-top: 1rem;
  padding: 0.3rem;
  font-size: 0.88rem; }

.flex-center {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center; }

a.banner {
  margin: 2rem;
  padding: 0; }
  a.banner div {
    padding: 2rem 3rem;
    background: rgba(82, 125, 111, 0.15); }
  a.banner:hover > div {
    background: rgba(82, 125, 111, 0.45); }

.banner.svg-grid > .collection--image {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: unset;
  grid-gap: 4rem;
  grid-auto-flow: dense;
  margin: -2rem 0 4rem 0; }
  @media (max-width: 48em) {
    .banner.svg-grid > .collection--image {
      display: block; } }
  .banner.svg-grid > .collection--image div:not(.text-svg) {
    grid-column-start: 2; }
  .banner.svg-grid > .collection--image .text-svg {
    grid-column-start: 1; }
  .banner.svg-grid > .collection--image svg {
    max-width: unset;
    max-height: 70vh; }

section.gestures {
  margin: 4rem 0; }
  @media (min-width: 88em) {
    section.gestures {
      padding: 0 4rem; } }
  @media (max-width: 88em) {
    section.gestures {
      padding: 0 3rem; } }
  @media (max-width: 62em) {
    section.gestures {
      padding: 0 2rem; } }
  @media (max-width: 48em) {
    section.gestures {
      padding: 0 1rem; } }
  section.gestures article {
    margin: 4rem 0;
    max-width: 80rem; }
  section.gestures article.hand-poses {
    display: flex;
    align-items: center;
    max-width: 38rem;
    gap: 2rem; }
  section.gestures img.hand-icon {
    width: 8rem; }
  section.gestures article.gestures-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
    margin-bottom: 10rem; }
    section.gestures article.gestures-grid .title {
      grid-column-start: 1;
      grid-column-end: 4;
      margin-bottom: 2rem; }
    section.gestures article.gestures-grid > div {
      width: 100%; }
    section.gestures article.gestures-grid img {
      margin-top: 1rem;
      max-width: 100%;
      max-height: 23rem;
      opacity: 0.9; }
  section.gestures .toggle-video {
    position: fixed;
    bottom: 4rem;
    right: 20px;
    max-width: 256px; }

section.buzzwords {
  margin: 3rem 0 15rem 0; }
  @media (max-width: 48em) {
    section.buzzwords {
      margin: 15rem 0;
      display: block; } }
  section.buzzwords > div.container {
    justify-content: space-around;
    align-items: center; }
  section.buzzwords aside {
    width: 20rem;
    position: fixed;
    top: 10%;
    left: 1rem;
    display: flex;
    align-items: center;
    pointer-events: none; }
    section.buzzwords aside i.keyword, section.buzzwords aside .def-content {
      font-size: 0.9rem;
      margin: 0.8rem 0; }
    section.buzzwords aside .definition {
      height: fit-content;
      background: rgba(28, 25, 34, 0.2);
      backdrop-filter: blur(4px);
      padding: 1rem;
      border: 3px solid #3BBA7D; }
      section.buzzwords aside .definition.inactive {
        display: none; }
      @media (max-width: 48em) {
        section.buzzwords aside .definition {
          backdrop-filter: blur(14px);
          border: none; } }
  section.buzzwords article {
    margin: 1rem; }
    section.buzzwords article.placeholder {
      width: 15rem;
      height: 15rem; }
  section.buzzwords .no-comp > div.flex {
    justify-content: flex-end; }
    @media (min-width: 48em) {
      section.buzzwords .no-comp > div.flex {
        margin-left: 10%; } }
  section.buzzwords .no-comp:nth-child(2n) > div.flex {
    justify-content: flex-start; }
    @media (min-width: 48em) {
      section.buzzwords .no-comp:nth-child(2n) > div.flex {
        margin-right: 30%; } }
  section.buzzwords h4, section.buzzwords h5 {
    font-weight: normal; }
  section.buzzwords h4 {
    font-size: 0.9rem; }
  section.buzzwords h5 {
    font-size: 0.8rem; }
  section.buzzwords p {
    font-size: 0.8rem; }
  section.buzzwords .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
  section.buzzwords .ct-buzz {
    padding: 1rem;
    border: 1.5px solid rgba(82, 125, 111, 0.45);
    width: calc(100vw - 25rem);
    max-width: 76rem;
    margin: auto 1rem auto auto; }
    section.buzzwords .ct-buzz.no-comp {
      border: 1px solid transparent; }
    section.buzzwords .ct-buzz > h4 {
      text-align: right;
      margin-right: 1rem; }
    @media (max-width: 48em) {
      section.buzzwords .ct-buzz {
        max-width: unset;
        width: 100%; } }
  section.buzzwords .component {
    padding: 1rem;
    background: rgba(82, 125, 111, 0.25);
    margin: 1rem;
    min-width: 17rem;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 150ms; }
    @media (max-width: 48em) {
      section.buzzwords .component {
        margin: 1rem 0.5rem; } }
    section.buzzwords .component:hover, section.buzzwords .component:focus {
      background: rgba(59, 186, 125, 0.2);
      -webkit-tap-highlight-color: transparent; }
    section.buzzwords .component.active-buzz {
      border: 3px solid rgba(59, 186, 125, 0.6);
      background: rgba(59, 186, 125, 0.2); }
    section.buzzwords .component > .component {
      margin: 1rem 0;
      padding: 0.7rem;
      min-width: 10rem; }
      section.buzzwords .component > .component.active-buzz {
        border: 3px solid transparent;
        background: rgba(59, 186, 125, 0.6);
        color: #17131f; }
    section.buzzwords .component.no-mw {
      min-width: unset; }
  section.buzzwords .ct-hover {
    padding: 0.7rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(28, 25, 34, 0.82);
    min-width: 7rem;
    max-width: 25rem;
    transform: translateX(-50%);
    width: auto; }
    section.buzzwords .ct-hover > * {
      font-size: 0.9rem; }
  @media (max-width: 48em) {
    section.buzzwords > .container {
      grid-template-columns: 1fr;
      margin: 5rem 1rem; }
    section.buzzwords .container, section.buzzwords .flex {
      display: grid !important; }
      section.buzzwords .container article, section.buzzwords .container > .component, section.buzzwords .flex article, section.buzzwords .flex > .component {
        justify-self: flex-start; }
      section.buzzwords .container article:nth-child(2n), section.buzzwords .container > .component:nth-child(2n), section.buzzwords .flex article:nth-child(2n), section.buzzwords .flex > .component:nth-child(2n) {
        justify-self: flex-end; }
    section.buzzwords .component {
      max-width: unset;
      min-width: unset; }
    section.buzzwords .no-comp {
      padding: 0 !important;
      margin: 0 !important; }
    section.buzzwords aside {
      top: 0;
      left: 0;
      width: 100%;
      height: unset; }
    section.buzzwords .definition {
      width: 100%; } }

@keyframes wiggle {
  0% {
    transform: translateY(0); }
  30% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(4px); }
  70% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }

article.create {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: calc(100vh - 10rem);
  padding: 1rem 3rem;
  grid-gap: 2rem;
  max-width: 85rem;
  margin: 0 auto; }
  article.create .col-1 {
    max-width: 30rem; }
  article.create .col-2, article.create .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  article.create .col-2.border {
    border: 2px solid rgba(82, 125, 111, 0.45);
    padding: 3rem 1rem; }
  article.create .col-2 .instruction {
    position: absolute;
    top: 1rem;
    font-size: 1.5rem;
    width: 100%;
    line-height: inherit; }
  article.create button {
    margin-right: 1rem;
    margin-top: 2rem;
    width: fit-content; }
  article.create .btn-train-start, article.create .train-save {
    max-width: unset; }
  article.create form label {
    display: block;
    margin: 2rem 0; }
  article.create span.emoji {
    margin: 0 0 0 -3rem;
    font-size: 2rem; }
  article.create .select-emoji span {
    cursor: pointer;
    margin: 0 0.9rem 0 0; }
  article.create .select-methods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  article.create .pose-created {
    font-size: 2rem; }
  article.create .pose-created-emoji {
    font-size: 9rem; }

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  cursor: crosshair; }
  html::-webkit-scrollbar {
    width: 5px;
    height: 5px; }
  html::-webkit-scrollbar-thumb {
    background: #527D6F; }
  html::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); }
  html {
    scrollbar-face-color: #527D6F;
    scrollbar-track-color: rgba(0, 0, 0, 0); }
  html {
    scrollbar-color: #527D6F rgba(0, 0, 0, 0);
    scrollbar-width: thin; }
  @media (max-width: 48em) {
    html {
      overflow-x: hidden; } }

body {
  color: #3BBA7D;
  background: #17131f; }

main#page_root {
  padding: 4rem 0 2rem 0;
  min-height: 90vh; }

article.container {
  max-width: 30rem; }

.invisible {
  display: none; }

.opacity-25 {
  opacity: 0.25;
  pointer-events: none;
  cursor: unset; }

.opacity-50 {
  opacity: 0.50;
  pointer-events: none;
  cursor: unset; }

.opacity-75 {
  opacity: 0.75;
  pointer-events: none;
  cursor: unset; }

header[data-index='no-index'] + main#page_root section {
  animation-name: pageUp;
  animation-duration: 400ms; }

@keyframes pageUp {
  from {
    transform: translateY(3rem); }
  to {
    transform: translateY(0); } }

section.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11; }
  @media (min-width: 88em) {
    section.fixed {
      padding: 0 4rem; } }
  @media (max-width: 88em) {
    section.fixed {
      padding: 0 3rem; } }
  @media (max-width: 62em) {
    section.fixed {
      padding: 0 2rem; } }
  @media (max-width: 48em) {
    section.fixed {
      padding: 0 1rem; } }
  section.fixed > article:first-of-type {
    margin-top: 5rem; }

svg {
  max-width: 30rem; }

.gclick::before, .gclick::after {
  position: absolute;
  top: -0.8rem;
  left: -0.8rem;
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 1px solid #fb888d; }
  @media (max-width: 48em) {
    .gclick::before, .gclick::after {
      display: none !important; } }

.gclick::before {
  transform: scale(0);
  background: #fb888d;
  transition: transform 1000ms; }

.gclick::after {
  opacity: 0;
  transition: opacity 200ms; }

.gclick.click-animation::before {
  transform: scale(1); }

.gclick.click-animation::after {
  opacity: 1; }

@media (max-width: 48em) {
  .mb-dashed {
    pointer-events: none;
    cursor: crosshair;
    text-decoration: line-through;
    color: #527D6F;
    opacity: 0.9; } }

body:not(.gi) .ng-dashed, body:not(.gi) .ng-dashed > a {
  cursor: crosshair;
  text-decoration: line-through;
  color: #527D6F;
  opacity: 0.9; }
  @media (max-width: 48em) {
    body:not(.gi) .ng-dashed, body:not(.gi) .ng-dashed > a {
      display: none; } }

body:not(.gi) .ng-invisible {
  display: none; }

body:not(.gi) .ng-hidden {
  opacity: 0; }

.emoji-holder {
  position: fixed;
  top: 2.5rem;
  right: 0.4rem;
  font-size: 1.3rem; }
