section.home > * {
  position: absolute;
  left: 10%;
  max-width: 40rem;
  font-weight: normal; }

section.home h1 {
  top: 0; }

section.home h5 {
  left: 5%;
  top: 5rem; }

section.home h3 {
  top: 20rem;
  left: 55%;
  max-width: 35%; }

section.home a:first-of-type {
  top: 7rem;
  left: 60%; }

section.home a:last-of-type {
  top: 15rem;
  left: 20%; }
