article.create {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: calc(100vh - 10rem);
  padding: 1rem 3rem;
  grid-gap: 2rem;
  max-width: 85rem;
  margin: 0 auto; }
  article.create .col-1 {
    max-width: 30rem; }
  article.create .col-2, article.create .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  article.create .col-2.border {
    border: 2px solid rgba(82, 125, 111, 0.45);
    padding: 3rem 1rem; }
  article.create .col-2 pre {
    position: absolute;
    top: 1rem;
    font-size: 2rem; }
  article.create button {
    margin-right: 1rem;
    margin-top: 2rem;
    width: fit-content; }
  article.create .btn-train-start, article.create .train-save {
    max-width: unset; }
  article.create form label {
    display: block;
    margin: 2rem 0; }
  article.create span.emoji {
    margin: 0 0 0 -3rem;
    font-size: 2rem; }
  article.create .select-emoji span {
    cursor: pointer;
    margin: 0 0.9rem 0 0; }
  article.create .select-methods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
