section.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  div {
    width: 16ch;
    font-size: 4rem;
    cursor: pointer;

    @include mobile-down {
      width: 16ch;
      font-size: 2rem;
      max-width: 80%;
    }

    &:hover {
      span:nth-child(1) {
        animation: glitchy-1 800ms ease-in-out infinite;
      }

      span:nth-child(2) {
        animation: glitchy-2 800ms ease-in-out infinite;
      }
    }

    a:hover {
      background: transparent !important;
    }
  }

  span {
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 150ms;
  }

  span:nth-child(1) {
    animation-play-state: paused;
    transform: translate(3px, 3px);
  }

  span:nth-child(2) {
    animation-play-state: paused;
    transform: translate(-3px, -3px);
  }

  span:nth-child(3) {
    opacity: 0.6;
  }

  a{
    display: inherit;
  }

}


@keyframes glitchy-1 {
  0% {
    transform: translate(0, 0);
  }

  55% {
    transform: translate(3px, 3px);
  }

  75% {
    transform: translate(0, 0);
  }

  95% {
    transform: translate(-3px, -3px);
  }

  100% {
    transform: translate(0, 0);
  }
}


@keyframes glitchy-2 {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-3px, -3px);
  }

  65% {
    transform: translate(0, 0);
  }

  90% {
    transform: translate(3px, 3px);
  }

  100% {
    transform: translate(0, 0);
  }
}