section.buzzwords{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;


  article{
    margin: 1rem;
    max-width: 40rem;
    animation: wiggle 25s ease-in-out infinite;

  }

  h4, h5{
    font-weight: normal;
  }

  h4{
    font-size: 0.9rem;
  }

  h5{
    font-size: 0.8rem;
  }

  p{
    font-size: 0.8rem;
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .ct-buzz{
    padding: 1rem;
    background: rgba(82, 125, 111, 0.45);
    &.no-comp{
      background: transparent;
    }
    >h4{
      text-align: center;
    }
  }

  .component{
    padding: 0.7rem 1rem;
    background: rgba(82, 125, 111, 0.35);
    margin: 1rem;
    min-width: 17rem;
    cursor: pointer;

    >.component{
      margin: 1rem 0;
      padding: 0.5rem;
      min-width: 10rem;
    }
    &.no-mw{
      min-width: unset;
    }
  }

  .ct-hover{
    padding: 0.7rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(28, 25, 34, 0.82);
    min-width: 7rem;
    max-width: 25rem;
    transform: translateX(-50%);
    width: auto;
    >*{
      font-size: 0.9rem;
    }

  }
}


@keyframes wiggle {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(4px);
  }
  70% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}