section.buzzwords{
  padding: 1rem;
  h4, h5{
    font-weight: normal;
  }


  .flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .ct-buzz{
    padding: 1rem;
    background: rgba(82, 125, 111, 0.45);
    >h4{
      text-align: center;
    }
  }

  .component{
    padding: 0.7rem 1rem;
    background: rgba(82, 125, 111, 0.35);
    margin: 1rem;
    min-width: 17rem;
    cursor: pointer;

    >.component{
      margin: 1rem 0;
      padding: 0.5rem;
      min-width: 10rem;
    }
  }

  .ct-hover{
    padding: 0.7rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(28, 25, 34, 0.82);
    min-width: 7rem;
  }
}