section.gestures{

  @include page-padding;
  margin: 4rem 0;
  article{
    margin: 4rem 0;
    max-width: 80rem;
  }

  article.hand-poses{
    display: flex;
    align-items: center;
    max-width: 38rem;
    gap: 2rem;
  }

  img.hand-icon{
    width: 8rem;
  }

  article.gestures-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
    margin-bottom: 10rem;

    .title{
      grid-column-start: 1;
      grid-column-end: 4;
      margin-bottom: 2rem;
    }

    p{
    }

    >div{
      width: 100%;
    }

    img{
      margin-top: 1rem;
      max-width: 100%;
      max-height: 23rem;
      opacity: 0.9;
    }
  }

  .toggle-video{
    position: fixed;
    bottom: 4rem;
    right: 20px;
    max-width: 256px;
  }

  span.light{
    font-size: 0.9rem;
    opacity: 0.7;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 2rem;

  }
}

