section.home{
  >*{
    position: absolute;
    left: 10%;
    max-width: 40rem;
    font-weight: normal;
  }
  h1{
    top: 0;
  }
  h5{
    left: 5%;
    top: 5rem;
  }
  h3{
    top: 20rem;
    left: 55%;
    max-width: 35%;
  }
  a:first-of-type{
    top: 7rem;
    left: 60%;
  }
  a:last-of-type{
    top: 15rem;
    left: 20%;
  }
  .sub-title , h5, .title{
    pointer-events: none;
    color: $col--main-02;
  }

  span.web-browser-info{
    display: block;
    font-size: 0.8rem;
    margin-top: 1rem;
  }

  span.web-browser-info.invisible{
    display: none;
  }

  @include mobile-down{
    h3{
      left: 20%;
      max-width: 70%;
    }
    a:first-of-type{
      left: 40%;
    }
    a:last-of-type{
      left: 5%;
    }
    span.web-browser-info{
      display: none !important;
    }
    
  }
}