section.machine-learning {
  .ct-ml {
    padding: 3rem 0;
    &:first-of-type{
      padding: 0 0 3rem 0;
    }
  }

  .ct-fixed {
    max-width: 80rem;
    margin: 0 auto;
    position: sticky;
    top: 2.8rem;
    z-index: 8;

    .expand-info {
      font-size: 0.9rem;
      opacity: 0.5;
      background: transparent;
    }

    @include mobile-down{
      top: -2px;
    }
    .expand-info {
      padding: 2px 0;
      font-size: 1rem;
    }
  }

  .ct-content {
    padding: 0 3rem;
    max-width: 86rem;
    margin: 0 auto;

    .col-2{
      font-size: 0.9rem;
    }

    @include tablet-down{
      padding: 0 2.2rem;
    }
    @include mobile-down{
      padding: 0 1.7rem;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem 0 3rem 0;
    grid-gap: 2rem;
    @include tablet-up{
      grid-gap: 4rem;
    }

    @include desktop-up{
      grid-gap: 5rem;
    }
  }

  h1 {
    font-weight: normal;
    margin: 0 0 2.3rem 0;

    &::before {
      content: '-';
      position: absolute;
      margin-left: -3.4rem;
    }
  }

  p {
    margin: 1rem 0;
  }

  button {
    margin-bottom: 1rem;
  }

  .randomised {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 1rem;
    align-content: center;
    justify-content: space-around;
    height: 100%;
  }

  .collection--image{
    max-width: 25rem;
  }

  .btn-gen-btn-text{
    margin: 0 0.5rem 0.5rem 0;
  }


  @include mobile-down {
    .content {
      display: block;
    }
  }
}


// panels
.panel{
  background: rgba(82, 125, 111, 0.2);
  font-size: 0.9rem;

  .panel-header{
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
  }

  .panel-header>div{
    color: $col--main-02;
    transition: color 150ms;
    padding: 0.5rem;
    width: 100%;
    border-left: 1px solid $col--main-02;
    background: rgba(82, 125, 111, 0.2);

    &.active{
      background: rgba(82, 125, 111, 0);
      border-top: 1px solid $col--main-01;
      border-left: 1px solid $col--main-02;
      color: $col--main-01;
    }
  }

  .panel-body{
    margin-top: 0.2rem;
    padding: 0.5rem;
  }

  .panel-image{
    margin-top: 2rem;
    svg{
      max-width: 35rem;
    }
  }
}

.text-svg{

}

.btn-svg{
  display: inline-block;
  padding: 0.1rem;
  font-size: 0.88rem;
}

.flex-center{
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

a.banner{
  margin: 2rem;
  padding: 0;

  div{
    padding: 2rem 3rem;
    background: rgba(82, 125, 111, 0.15);
  }

  &:hover{
    >div{
      background: rgba(82, 125, 111, 0.45);
    }
  }

}