@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";

@import "navigation.scss";
@import "typo.scss";
@import "canvas.scss";
@import "loader.scss";

@import "views/404.scss";
@import "views/home.scss";
@import "views/projects.scss";
@import "views/machine-learning.scss";
@import "views/gestures.scss";
@import "views/buzzwords.scss";
@import "views/train-model.scss";


* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
}

html {
  @include scrollbars(5px, $col--main-02, rgba(0,0,0,0));
  cursor: crosshair;

  @include mobile-down{
    overflow-x: hidden;
  }
}


body{
  color: $col--main-01;
  background: $col--dark-01;
}
main#page_root{
  padding: 4rem 0 2rem 0;
  min-height: 90vh;
}

article.container{
  max-width: 30rem;
}

.invisible{
  display: none;
}

.opacity-25{
  opacity: 0.25;
  pointer-events: none;
  cursor: unset;
}

.opacity-50{
  opacity: 0.50;
  pointer-events: none;
  cursor: unset;
}

.opacity-75{
  opacity: 0.75;
  pointer-events: none;
  cursor: unset;
}

header[data-index='no-index'] + main#page_root section{
  animation-name: pageUp;
  animation-duration: 400ms;
}

@keyframes pageUp {
  from {transform: translateY(3rem)}
  to {transform: translateY(0)}
}


section.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  @include page-padding;
  >article:first-of-type{
    margin-top: 5rem;
  }
}

svg{
  max-width: 30rem;
}

.gclick{

  &::before, &::after{
    position: absolute;
    top: -0.8rem;
    left: -0.8rem;
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 1px solid rgba(251, 136, 141, 1);

    @include mobile-down{
      display: none!important;
    }
  }

 &::before{
   transform: scale(0);
   background: rgba(251, 136, 141, 1);
   transition: transform 1000ms;
 }

  &::after{
    opacity: 0;
    transition: opacity 200ms;
  }
}

.gclick.click-animation{
  &::before{
    transform: scale(1);
  }
  &::after{
    opacity: 1;
  }
}

@include mobile-down{
  .mb-dashed{
    pointer-events: none;
    cursor: crosshair;
    text-decoration: line-through;
    color: $col--main-02;
    opacity: 0.9;
  }
}


body:not(.gi){
  .ng-dashed, .ng-dashed>a{
    //pointer-events: none;
    cursor: crosshair;
    text-decoration: line-through;
    color: $col--main-02;
    opacity: 0.9;

    @include mobile-down{
      display: none;
    }
  }

  .ng-invisible{
    display: none;
  }

  .ng-hidden{
    opacity: 0;
  }
}

.emoji-holder{
  position: fixed;
  top: 2.5rem;
  right: 0.4rem;
  font-size: 1.3rem;
}