@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";

@import "navigation.scss";
@import "typo.scss";
@import "canvas.scss";

@import "views/404.scss";
@import "views/home.scss";
@import "views/projects.scss";
@import "views/machine-learning.scss";
@import "views/gestures.scss";
@import "views/buzzwords.scss";


* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
}

body{
  color: $col--main-01;
  background: $col--dark-01;
}

main{
  padding: 4rem 0 2rem 0;
}

