header, footer{
  position: fixed;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 1;
}

main#page_root:not(.no-before)::before{
  content: '';
  z-index: 1;
  height: 3rem;
  width: 100%;
  background: $col--dark-01;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background: #17131f5e;

  @include mobile-down{
    background: transparent;
    backdrop-filter: none;
  }
}

header {
  top: 0;
  z-index: 10;
  transition: transform 200ms ease-in-out;

}

header span{
  display: block;
  position: absolute;
  top: 0.8rem;
  width: 100%;
  height: 100%;
  a{
    color: $col--dark-01;
  }
  &:first-of-type{
    left: -35%;
  }
  &:last-of-type{
    left: 35%;
    text-align: right;
  }
  &:hover{
    a{color: $col--main-01;}
  }
}

footer{
  bottom: -1px;
  background: $col--dark-01;
  z-index: 13;

  nav{
    display: flex;
  }
}

nav{
  height: 100%;

  ul{
    padding: 0 2rem;
    height: 100%;
    align-content: center;
  }

  li.active{
    font-weight: bold;
  }

  li{
    margin: 0.2rem 1rem;
    font-size: 0.9rem;
  }

  @include mobile-down{
    ul{
      padding: 0 1rem;
    }
    li{
      margin: 0 2rem 0 0;
    }
  }
}

header nav {
  ul {
    padding: 0 2rem;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  li {
    text-align: center;
    font-size: 1rem;
  }

  li:first-of-type {
    text-align: left;
  }

  li:last-of-type {
    text-align: right;
  }

  @include mobile-down {
    display: none;
  }
}

footer nav{
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  li.back{
    cursor: pointer;
  }
}

footer{
  background-color: $col--dark-01;
  border-top: 1.5px solid $col--main-02;

  .gi-not-active{
    font-size: 0.7rem;
    align-self: center;
    opacity: 0.6;
    justify-content: flex-end;
    margin-left: 5rem;
    justify-self: flex-end;
    text-align: right;

    @include mobile-down{
      display: none;
    }
  }

  .enable-gi{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
    //background-color: $col--dark-01;
    background-color: $col--main-02;

    &::before{
      content: '';
      position: absolute;
      font-size: 0.7rem;
      top: -2px;
      text-align: center;
      left: -12.3rem;
    }
    &:hover::before{
      content: 'Gestenerkennung aktivieren';
    }
    @include mobile-down{
      display: none;
    }
  }
  .enable-gi.active{
    background-color: $col--main-01;
    box-shadow: 0 0 7px 1px #527d6f;
    &:hover::before{
      content: 'Gestenerkennung deaktivieren';
    }
  }

  .mobile-link{
    position: absolute;
    bottom: 0.9rem;
    right: 1rem;
    display: none;
    font-size: 0.9rem;
    @include mobile-down{
      display: block;
    }
  }
}

// header index translation
@include mobile-up{
  header[data-index='-1']{
    transform: translateX(42%);
  }

  header[data-index='0'] {
    transform: translateX(0);
  }

  header[data-index='1']{
    transform: translateX(-42%);
  }
}
